In [4]:
3 + 5
7 + 7
4 + 4
# Enter Create a new line in the cell
# Shift + Enter Run the current cell
# Ctrl + S Save
# Esc + A Insert cell above
# Esc + B Insert cell below
# Esc + x Cut selected cells

8

In [5]:
type(123)
# The data type is int (for integer)

int

In [6]:
type('hello') 
# The data type is str (for string)

str

In [8]:
type(True)
# A boolean data type is True or False

bool

In [9]:
type('True')

str

In [10]:
# Assign a value to a variable
favorite_number = 42
n = favorite_number + 7

In [11]:
# Print favorite_number
print(favorite_number)

42

In [12]:
# Return the data type for favorite_number
type(favorite_number)

int

In [13]:
# This is a string nambed favorite_number
type('favorite_number')

str

In [14]:
print(n)

49

In [15]:
# The value of a variable can be reassigned
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [16]:
# Boolean value
# True (capital T)
# False (capital F)

# Check equality

# Does True equal True?

True == True

True

In [17]:
# Does True equal False?

True == False

False

In [18]:
# Checking inequality
# Is True NOT EQUAL to True
True != True

False

In [19]:
# Is True NOT EQUAL to False
True != False

True

In [20]:
# not operator
# Take the opposite
not False

True

In [21]:
# and operator
# Equal True when both statements are true
True and True

True

In [23]:
# Evaluating and operators

# True and True = True
# True and False = False
# False and False = False

False and False

False

In [24]:
True and False

False

In [25]:
# Evaluating or operators

# True or False = True
# True or True = True
# False or False = False

True or False

True

In [26]:
True or True

True

In [27]:
False or False

False

In [29]:
# Assigning Boolean values to a variable

is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

# = True  and not False
# = True and True
print(should_process_report)

# Evaluate the Boolean values

True

In [30]:
# is_first_of_the _month  is now False
## = False  and not False
# = False and True
# = False


# If report_has_been_sent  is now True
## = True  and not True
# = True and False
# = False

In [32]:
# Comparison Operators
# Check equality
1 == 1

True

In [36]:
# Check inequality
# Is 1 NOT EQUAL to 0
1 != 0

True

In [34]:
# Compare two strings
'hello' == 'hello'

True

In [35]:
'hello' == 'Hello'

False

In [37]:
# Check if value is greater than another value
# Is 1 greater than 0?
1 > 0

True

In [38]:
# Is 5 < 4
5 < 4

False

In [39]:
# Greater than or equal to
5 <= 5

True

In [40]:
# Less than or equl to
2 <= 0

False

In [41]:
4 + 5 > 10 - 2

True

In [42]:
# Manipulate the string
# Not modify the string

# Assign a string to the variable s
s = '     Hello, Codeup!     '
# Apply the string method lower to variable s
s.lower()

'     hello, codeup!     '

In [43]:
# Apply the string method strip
s.strip()

'Hello, Codeup!'

In [44]:
# Apply the string method isdigit
# Returns True if string is a digit
s.isdigit()

False

In [45]:
# Apply isdigit to the string '123'
'123' .isdigit()

True

In [46]:
'hello'.isdigit()

False

In [47]:
s.strip() .split(', ')

['Hello', 'Codeup!']

In [48]:
', '.join(['one', 'two', 'three'])

'one, two, three'

In [ ]:
# Create a list
# Enclosed in square brackets

In [49]:
# Contains integers
[1, 2, 3]

[1, 2, 3]

In [50]:
type([1, 2, 3])

list

In [51]:
# List with 3 strings
['one', 'two', 'three']

['one', 'two', 'three']

In [52]:
# Assign the list to a variable
my_list = ['one', 'two', 'three']
print(my_list)

['one', 'two', 'three']

In [53]:
# A list with 3 lists
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
# Creating lists with list comprehension
[n for n in range(10)]
# Start with 0
# Do not include 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
[ n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
[n * 2 for n in range(10) if n % 2 == 0]
# Checking for equality
# If n % 2 == 0
# n = 0 Condition it True
# n = 1 Condition is False
# n = 2 Condition is True
# n = 3 Condition is False  (2 * 3) is not included

[0, 4, 8, 12, 16]

In [1]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
# The string is enclosed by double quotes
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [2]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [3]:
'hello' == 'hello'

True

In [4]:
'abc' != 'def'

True

In [5]:
# Concatenation is adding
'abc' + 'def'

'abcdef'

In [6]:
# This is a string with whitespace
'abc ' + 'def'

'abc def'

In [7]:
'abc' * 3

'abcabcabc'

In [8]:
'2' == 2

False

In [9]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

In [10]:
'abc' + 1

TypeError: can only concatenate str (not "int") to str

In [11]:
# Store a string to the variable name
name = 'World'

In [12]:
# Formatting a string
'Hello, %s!' % name

'Hello, World!'

In [13]:
'Hello, {}!'.format(name)

'Hello, World!'

In [16]:
f'Hello {name}!'

'Hello World!'

In [17]:
numbers = [1, 2, 3]

In [18]:
numbers

[1, 2, 3]

In [19]:
numbers.append(4)

In [20]:
numbers

[1, 2, 3, 4]

In [21]:
numbers.pop()
numbers

[1, 2, 3]

In [23]:
len(numbers)

3

In [24]:
# The first member of the list has the index of zero
numbers[0]

1

In [25]:
numbers

[1, 2, 3]

In [26]:
numbers[2]

3

In [27]:
numbers[-1]

3

In [28]:
# Everything up to but not including index 2
numbers[:2]

[1, 2]

In [29]:
numbers[1:2]

[2]

In [30]:
numbers

[1, 2, 3]

In [31]:
numbers[1:]

[2, 3]

In [32]:
# Create a list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [34]:
# map is telling to convert, str is what to convert to, in this instance int to str
list(map(str, [1, 2, 3]))

['1', '2', '3']

In [35]:
# Tuples
# Immutable = (the length is fixed)
(1, 'two', ['t', 'h', 'r', 'e', 'e'])

(1, 'two', ['t', 'h', 'r', 'e', 'e'])

In [36]:
my_tuple = (1, 2, 3)
my_tuple[1]


# Lists for elements of the same type
# Tuples for different tpyes

2

In [39]:
# Dictionary
# Key : Value (key-value pairs)

{'name':'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

In [41]:
# Use the dict function
dict(name ='Codeup', age =4)

{'name': 'Codeup', 'age': 4}

In [42]:
school = dict(name='Codeup', age=4)

school['name']

'Codeup'

In [43]:
school

{'name': 'Codeup', 'age': 4}

In [44]:
school['name']

'Codeup'

In [45]:
# Equal sign after the plus Changes/Updates the value located in the dictionary
school['age'] += 1

school

{'name': 'Codeup', 'age': 5}

# Heading 1
## Heading 2
### Heading 3
#### Heading 4

In [46]:
99.9 # Float
"False" # String

'False'

Type Markdown and TaTeX a

# Headings
**This line is bold**

# Exercises
Identify the data type of the following values:

In [47]:
99.9 # Float

99.9

In [48]:
"False" # String

'False'

In [49]:
False # Boolean

False

In [50]:
'0' # String

'0'

In [51]:
0 # Integer

0

In [52]:
True # Boolean

True

In [53]:
'True' # String

'True'

In [54]:
[{}] # List

[{}]

In [55]:
{'a': []} # Dictionary

{'a': []}

What data type would best represent:

A term or phrase typed into a search box? string

If a user is logged in? boolean

A discount amount to apply to a user's shopping cart? float

Whether or not a coupon code is valid? boolean

An email address typed into a registration form? string

The price of a product? float

A Matrix? dictionary

The email addresses collected from a registration form? list

Information about applicants to Codeup's data science program? dictionary

For each of the following code blocks, read the expression and predict what the result of evaluating it would be, then execute the expression in your Python REPL.

In [56]:
'1' + 2 # Error message

TypeError: can only concatenate str (not "int") to str

In [57]:
6 % 4 # 2

2

In [58]:
type(6 % 4) # Integer

int

In [59]:
type(type(6 % 4)) # Type

type

In [60]:
'3 + 4 is ' + 3 + 4 # Error message

TypeError: can only concatenate str (not "int") to str

In [61]:
0 < 0 # False

False

In [62]:
'False' == False # False

False

In [63]:
True == 'True' # False

False

In [64]:
5 >= -5 # True

True

In [65]:
True or "42" # True

True

In [66]:
6 % 5 # 1

1

In [67]:
5 < 4 and 1 == 1 # False

False

In [68]:
'codeup' == 'codeup' and 'codeup' == 'Codeup' # False

False

In [69]:
4 >= 0 and 1 !== '1' # Error Message

SyntaxError: invalid syntax (2198488449.py, line 1)

In [70]:
6 % 3 == 0 # True

True

In [71]:
5 % 2 != 0 # True

True

In [72]:
[1] + 2 # Error Message

TypeError: can only concatenate list (not "int") to list

In [73]:
[1] + [2] # [1, 2]

[1, 2]

In [74]:
[1] * 2 # [1, 1]

[1, 1]

In [75]:
[1] * [2] # Error message

TypeError: can't multiply sequence by non-int of type 'list'

In [76]:
[] + [] == [] # True

True

In [77]:
{} + {} # Error message

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'