In [4]:
3 + 5
7 + 7
4 + 4
# Enter Create a new line in the cell
# Shift + Enter Run the current cell
# Ctrl + S Save
# Esc + A Insert cell above
# Esc + B Insert cell below
# Esc + x Cut selected cells

8

In [5]:
type(123)
# The data type is int (for integer)

int

In [6]:
type('hello') 
# The data type is str (for string)

str

In [8]:
type(True)
# A boolean data type is True or False

bool

In [9]:
type('True')

str

In [10]:
# Assign a value to a variable
favorite_number = 42
n = favorite_number + 7

In [11]:
# Print favorite_number
print(favorite_number)

42

In [12]:
# Return the data type for favorite_number
type(favorite_number)

int

In [13]:
# This is a string nambed favorite_number
type('favorite_number')

str

In [14]:
print(n)

49

In [15]:
# The value of a variable can be reassigned
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [16]:
# Boolean value
# True (capital T)
# False (capital F)

# Check equality

# Does True equal True?

True == True

True

In [17]:
# Does True equal False?

True == False

False

In [18]:
# Checking inequality
# Is True NOT EQUAL to True
True != True

False

In [19]:
# Is True NOT EQUAL to False
True != False

True

In [20]:
# not operator
# Take the opposite
not False

True

In [21]:
# and operator
# Equal True when both statements are true
True and True

True

In [23]:
# Evaluating and operators

# True and True = True
# True and False = False
# False and False = False

False and False

False

In [24]:
True and False

False

In [25]:
# Evaluating or operators

# True or False = True
# True or True = True
# False or False = False

True or False

True

In [26]:
True or True

True

In [27]:
False or False

False

In [29]:
# Assigning Boolean values to a variable

is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

# = True  and not False
# = True and True
print(should_process_report)

# Evaluate the Boolean values

True

In [30]:
# is_first_of_the _month  is now False
## = False  and not False
# = False and True
# = False


# If report_has_been_sent  is now True
## = True  and not True
# = True and False
# = False

In [32]:
# Comparison Operators
# Check equality
1 == 1

True

In [36]:
# Check inequality
# Is 1 NOT EQUAL to 0
1 != 0

True

In [34]:
# Compare two strings
'hello' == 'hello'

True

In [35]:
'hello' == 'Hello'

False

In [37]:
# Check if value is greater than another value
# Is 1 greater than 0?
1 > 0

True

In [38]:
# Is 5 < 4
5 < 4

False

In [39]:
# Greater than or equal to
5 <= 5

True

In [40]:
# Less than or equl to
2 <= 0

False

In [41]:
4 + 5 > 10 - 2

True

In [42]:
# Manipulate the string
# Not modify the string

# Assign a string to the variable s
s = '     Hello, Codeup!     '
# Apply the string method lower to variable s
s.lower()

'     hello, codeup!     '

In [43]:
# Apply the string method strip
s.strip()

'Hello, Codeup!'

In [44]:
# Apply the string method isdigit
# Returns True if string is a digit
s.isdigit()

False

In [45]:
# Apply isdigit to the string '123'
'123' .isdigit()

True

In [46]:
'hello'.isdigit()

False

In [47]:
s.strip() .split(', ')

['Hello', 'Codeup!']

In [48]:
', '.join(['one', 'two', 'three'])

'one, two, three'

In [ ]:
# Create a list
# Enclosed in square brackets

In [49]:
# Contains integers
[1, 2, 3]

[1, 2, 3]

In [50]:
type([1, 2, 3])

list

In [51]:
# List with 3 strings
['one', 'two', 'three']

['one', 'two', 'three']

In [52]:
# Assign the list to a variable
my_list = ['one', 'two', 'three']
print(my_list)

['one', 'two', 'three']

In [53]:
# A list with 3 lists
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [54]:
# Creating lists with list comprehension
[n for n in range(10)]
# Start with 0
# Do not include 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
[ n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
[n * 2 for n in range(10) if n % 2 == 0]
# Checking for equality
# If n % 2 == 0
# n = 0 Condition it True
# n = 1 Condition is False
# n = 2 Condition is True
# n = 3 Condition is False  (2 * 3) is not included

[0, 4, 8, 12, 16]